* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, Helvetica, Arial, sans-serif;
}

html,
body {
  height: 100%;
}

.main-container > *:not(router-outlet) {
  position: relative;
  display: block;
  width: clamp(100px, 100%, 1000px);
  min-height: 100%;
  padding-block: 1rem;
  margin-inline: auto;
  background: rgb(240, 240, 240);
}

.main-container > *:not(router-outlet)::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  box-shadow: 0 0 0 100vmax rgb(240, 240, 240);
  clip-path: inset(0 -100vmax);
}

a {
  text-decoration: none;
}
